ca-certificates
curl
gnupg
lsb-release
software-properties-common
apt-transport-https
wget
openssl
zsh
git
neovim
p7zip-full
unzip
btop
jq
nmap
ripgrep
zoxide
kubectl
k9s
lsd
azure-cli
powershell
packer
terraform
docker-ce
docker-ce-cli
containerd.io
docker-buildx-plugin
docker-compose-plugin
