[url "ssh://git@github.com/"]
	insteadOf = http://github.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
# Identity is configured interactively by install.sh; do not add a personal
# or work identity to this shared template.
